html {
    scroll-behavior: smooth;
    user-select: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    background-image: radial-gradient(circle, skyblue, violet 5%, aquamarine, rgb(0, 0, 55, 80%));
    background-attachment: fixed;
}

footer {
    margin-top: auto;
}

.stats {
    margin-top: -10px;
    color: deepskyblue;
}

.solutions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
    gap: 15px;
}

.problem-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 325px;
    width: 225px;
    border: 4px solid blue;
    border-radius: 25px;

    font: 18px "Anton";
    text-align: center;
    word-wrap: break-word;
    background-color: gold;
}

.problem-div:hover {
    cursor: pointer;
    border: 4px solid red;
}

.problem-title {
    width: 200px;
    margin-top: -4px;
    border: 6px double blue;
    border-radius: 10px;

    font: bold 28px "Lobster";
    color: brown;
}

.problem-bar {
    width: 200px;
    margin-top: -18px;
    margin-bottom: -10px;
    border: 5px double;
    color: blue;
}

.type {
    width: 200px;
    margin-bottom: 0px;
    border-radius: 30px;
    background-image: radial-gradient(black 30%, white);

    font: bold 20px "Bungee Shade";
    color: white;
}

.props {
    margin-bottom: -10px;
}

.filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 225px;
    border: 4px double darkcyan;

    font-size: 20px;
    color: darkred;
    background-color: wheat;
}

.date,
.lang,
.time,
.memory,
.help {
    border-radius: 4px;
    background-color: rgb(0, 0, 0, 35%);

    color: cyan;
}

.date {
    color: purple;
}

.help {
    color: blue;
}

#tool-bar-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    height: 15vh;
    width: 100vw;
    z-index: 1;
    top: 0px;
    left: 0px;

    background-color: rgb(120, 120, 120, 80%);
}

#title-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 25vw;
    margin-left: 1vw;

    border: 0.5vh solid blue;
    border-radius: 1vh;
    background-color: gold;
}

#title-text {
    width: 25vw;
    font: bold 2.5vw "Lobster";
    text-align: center;
    color: brown;
}

#links-text {
    width: 40vw;
    margin-left: 1vw;

    font-size: 1.5vw;
    font-weight: bold;
    text-align: left;
    color: black;
}

#linkedin-link,
#leetcode-link,
#gmail-link {
    text-decoration: none;
    color: bisque;
}

#linkedin-link:hover,
#leetcode-link:hover,
#gmail-link:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: aquamarine;
}

#search-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 8vh;
    width: 20vw;
    margin-left: 3vw;

    border: 0.5vh solid blue;
    border-radius: 10vh;
    background-color: gold;
}

#search-icon {
    height: 4vh;
    width: 2vw;
    margin-left: 0.5vw;
}

#search-input {
    height: 6vh;
    width: 15vw;
    padding: 0vw;
    margin-left: 0.5vw;
    border: none;
    outline: none;

    font: 1.5vw "Anton";
    color: gray;
    background-color: rgb(0, 0, 0, 0%);
}

#search-button {
    height: 7.5vh;
    width: 5.5vw;
    padding: 0vw;
    margin-left: 1vw;
    border: 0.5vh solid blue;
    border-radius: 1vh;

    font: bold 1.5vw "Lobster";
    color: brown;
    background-color: gold;
}

#search-button:hover {
    cursor: pointer;
    background-color: bisque;
}

#leet-code-stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
    margin-bottom: 5vh;
    gap: 5vw;
}

#problem-stat-container,
#pie-chart-container,
#prev-search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#stats-text,
#pie-chart-text,
#prev-search-text {
    margin-bottom: 2px;

    font: 24px "Pridi";
    text-align: center;
    color: navy;
}

#problem-stat-border {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 325px;
    width: 325px;
    border-radius: 25px;
    background-color: navy;
}

#problem-stat-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 310px;
    width: 310px;
    border-radius: 20px;
    background-color: wheat;

    font: 18px "Lobster";
    text-align: center;
    color: navy;
}

#problem-stat-title {
    width: 260px;
    margin-bottom: 15px;
    border: 2px solid black;
    border-radius: 10px;

    font: 24px "Anton";
    color: brown;
}

#mean-runtime,
#mean-memory {
    margin-top: -10px;
    font: 18px "Anton";
}

#pie-chart-border {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 325px;
    width: 325px;
    border: 2px solid black;
    border-radius: 50%;
    background-image: linear-gradient(45deg, navy 0% 22.5%, gold 22.5% 37.5%, navy 37.5% 62.5%, gold 62.5% 77.5%, navy 77.5% 100%);
}

#pie-chart {
    height: 300px;
    width: 300px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: bisque;
}

#problem-div-search {
    animation: border-flash 1s infinite;
}

#problem-div-search:hover {
    animation: none;
}

#solutions-container-border {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#solutions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 1200px;
    width: 1450px;
    border: 8px inset purple;
    border-radius: 25px;
    background-color: rgb(120, 120, 120, 80%);
}

#filter-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

#difficulty-filter,
#language-filter,
#percentile-filter,
#solution-filter,
#filter-button {
    border: 2.5px solid gray;
    border-radius: 10px;
    outline: none;
    cursor: pointer;

    font-size: 16px;
    color: lightyellow;
    background-color: darkred;
}

#filter-button {
    font-family: "Times New Roman";
    font-weight: bold;
    color: whitesmoke;
    background-color: darkred;
}

#filter-button:hover {
    background-color: darkgreen;
}

#difficulty-filter:focus,
#language-filter:focus,
#percentile-filter:focus,
#solution-filter:focus,
#filter-button:active {
    border-color: navy;
}

#left-page-button-border, #right-page-button-border {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 75px;
    border-radius: 20px;
    background-color: purple;
}

#left-page-button,
#right-page-button {
    height: 90px;
    width: 65px;
    border: none;
    border-radius: 17.5px;

    font: 28px "Anton";
    color: blue;
    background-color: gold;
}

#left-page-button:hover,
#right-page-button:hover {
    cursor: pointer;
    background-color: bisque;
}

#problem-count-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 65px;
    width: 185px;
    margin-top: 10px;
    border: 4px groove navy;

    font: 18px "Pridi";
    background-color: lightsteelblue;
}

#copy-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;

    height: 8vh;
    margin-top: 1vh;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 1vh;
    border-radius: 1vh;
    background-color: gray;
}

#copy-text {
    margin-left: 1vw;
    font-size: 2.5vh;
    font-weight: bold;
    color: black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input::-webkit-calendar-picker-indicator {
    opacity: 0;
}

@font-face {
    font-family: "Anton";
    src: url(./fonts/Anton/Anton-Regular.ttf);
}

@font-face {
    font-family: "Bungee Shade";
    src: url(./fonts/Bungee_Shade/BungeeShade-Regular.ttf);
}

@font-face {
    font-family: "Lobster";
    src: url(./fonts/Lobster/Lobster-Regular.ttf);
}

@font-face {
    font-family: "Pridi";
    src: url(./fonts/Pridi/Pridi-ExtraLight.ttf);
}

@keyframes border-flash {
    35% {border-color: purple;}
    50% {border-color: aqua;}
}